.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 6%;
  color: #e5e5e5;
  position: fixed;
  font-size: 14px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%);
  z-index: 1;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-left img {
  width: 90px;
}
.navbar-left ul {
  gap: 30px;
  display: flex;
  list-style: none;
  margin-left: 20px;
}
.navbar-left ul li {
  cursor: pointer;
}
.navbar-right {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.navbar-right .icons {
  width: auto;
  display: flex;
}
.navbar-right .profile {
  display: flex;
  border-radius: 4px;
}
.navbar-profile {
  display: flex;
  gap: 5px;
  align-items: center;
}
.navbar-profile .dropdown {
  position: absolute;
  z-index: 1;
  text-decoration: underline;
  border-radius: 4px;
  top: 70%;
  right: 0;
  padding: 18px 22px;
  width: max-content;
  background: #191919;
  display: none;
}
.navbar-profile .dropdown p {
  font-size: 13px;
  cursor: pointer;
}
.navbar-profile:hover .dropdown {
  display: block;
}
.navbar-left p {
  font-weight: 900;
}
.nav-dark {
  background: #141414;
}
@media (max-width: 800px) {
  .navbar {
    padding: 20px 4%;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar img {
    height: 25px;
  }
}
@media (max-width: 500px) {
  .navbar img {
    height: 20px;
  }
  .navbar-right {
    gap: 10px;
  }
}
